extend layout
block pre-content
  header
    h1 LeLuxNet
block content
  div(style="text-align:center;")
    h2 Welcome to the LeLuxNet Website
    p LeLuxNet is a small group of programmers. Wanna join? Write info@lelux.net or admin@lelux.net .
    section
      h3 Our projects
      section
        p: a(href="https://numero.lelux.net") Numero
        p Numero is a website, that shows you informations about numbers.
      section
        p: a(href="https://github.com/leluxnet/shelly") Shelly
        p Shelly is the cross-platform shell that allows you to use Linux-specific commands in windows and the other way around.
    section
      h3 Stuff that we host
      section
        p
        | The decentralised chat-protocol
        a(href="https://matrix.lelux.net/") Matrix
        |.
      section
        p
        | The free-and-easy-to-use, safe password manager
        a(href="https://bitwarden.lelux.net") Bitwarden
    section
      h3 Do you need help?
      p
      | Just join our 
      a(href="https://matrix.org/") Matrix
      |
      | support room
      |
      a(href="https://matrix.to/#/#help:lelux.net") #support:lelux.net
      | or read our
      a(href="https://wiki.lelux.net/") Wik
      |.
