doctype html
html
  head
    title #{title} | LeLuxNet
    block scripts
    block stylesheets
      link(rel='stylesheet', href='/style.css')
  body
    block pre-content
    main
      block content
    footer
      block footer
        p Das ist der Footer Text. Hier kommt nen Link zum Impressum und so rein
