doctype html
html
  head
    title <!--#{title} | --> LeLuxNet
    block scripts
    block stylesheets
      link(rel='stylesheet', href='/style.css')
  body
    block pre-content
    main
      block content
    footer
      block footer
        p &copy;&nbsp;2020 LeLuxNet. For stuff like the impress please reach out to info@lelux.net
