doctype html
html
  head
    title #{title} - LeLuxNet
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block scripts
    block stylesheets
      link(rel='stylesheet', href='/style.css')
      link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet")
  body
    block pre-content
    main
      block content
    footer
      block footer
        p
        | ©
        |
        span.monospace LeLuxNet
        |
        a(href="imprint") Imprint
