doctype html
html
  head
    title #{title} | LeLuxNet
    block scripts
    block stylesheets
      link(rel='stylesheet', href='/style.css')
  body
    block content
    footer
      block footer
        p Das ist der Footer Text. Der sollte unten stehen, weiß aber nicht wie das geht
