extend layout
block content
  h1 #{name}
  mixin service(id, url)
    -var cid = contact[id]
    -if (cid)
      div.account
        object(data='/images/' + id +'_logo.svg' type='image/svg+xml')
        a(href=url + cid) #{cid}
  +service("matrix", "https://matrix.to/#/")
  +service("github", "https://github.com/")
  +service("twitter", "https://twitter.com/")
