extend layout
block content
  h1 #{selPerson.name}
  mixin account(id, url)
    -var cid = selPerson.contact[id]
    -if (cid)
    a(href=url + cid)
      .account
        svg(height="30" width="30" viewBox="0 0 24 24")
          path(fill="#fff" d=logos[id])
  h2 Contact
  .accounts
    +account("github", "https://github.com/")
    +account("twitter", "https://twitter.com/")
    +account("matrix", "https://matrix.to/#/")
